*{
    box-sizing:border-box;
}

#app {
    width: 100%;
}
#chat-container {
    border: 1px solid gray;
    height: 100%;
    width: 25%;
    float: left;
    border-radius: 5px 5px 0px 0px;
    vertical-align: top;
    padding: 5px;
}

#message-history-container {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    
    div {
        img {
            max-width: 250px;
            height: auto;
        }
    }
}

#message-textarea-container {
    height : 10%;
    width: 100%;

    #message-textarea {
        height: 100%;
        width: 100%;
        resize: none;
    }
}

#drawing-container {
    float: left;
    height: 100%;
    width: 75%;
    vertical-align: top;
    padding: 0px 10px 0px 10px;
}


.fa-share-square {
    transform: scaleX(-1)
}

#drawing-container {
    .far, .fas {
        font-size: 1.3em;
    }
}

#canvas {
    border:1px solid gray;
    border-radius: 5px 5px 0px 0px;
}